/*header*/

* {
    margin: 0;
    padding: 0;
    list-style: none;
}

.headeritem a {
    text-decoration: none;
    color: #D70F64;
}

.wrapheader {
    width: 100%;
    position: fixed;
    height: 55px;
    top: 0;
    left: 0;
    right: 0;
    padding: 0;
    z-index: 9999;
    /* box-shadow: 4px 4px 12px -2px rgba(20%, 20%, 40%, 0.5); */
}

.clearfix {
    clear: both;
}

.header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-top: auto;
    background-color: #fff;
}

.headeritem {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    font-family: 'Rubik', sans-serif;
    padding: 10px;
}

.content {
    flex: auto;
    height: 1000px;
}

.wrap {
    position: relative;
    width: 100%;
    max-width: 1425px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 24px;
    padding-right: 24px;
    /*display: flex;*/
    flex-wrap: wrap;
}

.item {
    max-width: 70%;
    padding: 80px 0 48px 0;
    word-wrap: break-word;
    font-size: 30px;
    font-family: inherit;
    position: relative;
    margin-top: 50px;
    overflow: hidden;
    font-family: 'Noto Serif TC', serif;
    color: #333333;
}


/*搜尋列*/

.search-wrap {
    width: auto;
    margin-top: auto;
    position: relative;
    padding: 10px;
}

form {
    margin: auto;
    display: flex;
    align-content: space-around;
}

.search {
    padding: 12px 55px 12px 15px;
    font-size: 20px;
    width: 100%;
}

.submit {
    width: 10%;
    padding: 10px;
    font-size: 20px;
}

.search__button {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-top: auto;
    padding: 16px 0px;
}

.search__button .submit {
    background-color: #D70F64;
    color: #fff;
    font-size: 14px;
    width: 100%;
    height: 55px;
    font-size: 16px;
    font-weight: bold;
}


/* vender資訊 */

.pic_oldman img {
    width: 100%;
    height: 100%;
    z-index: 1;
}

.full-container {
    /* padding: 0px 24px; */
    z-index: 2;
    margin-top: -100px;
    display: inline-block;
}

.vender-content {
    width: auto;
    padding: 16px;
    box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.12);
    background-color: white;
    z-index: 2;
}

#vender-button {
    display: inline-block;
    background-color: #D70F64;
    color: #fff;
    font-size: 14px;
    width: 100%;
    height: 48px;
    font-weight: bold;
    text-align: center;
    line-height: 48px;
}


/*城市列*/

.city img {
    width: 216px;
    height: 276px;
    overflow: hidden;
    object-fit: cover;
}

.city {
    margin: 0px 10px 20px;
    position: relative;
}

.city-group {
    margin: 100px 10px 150px 48px;
    overflow: auto;
    display: flex;
    justify-content: center;
}

.city-name {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 10px;
    font-size: 20px;
    color: #fff;
    z-index: 1;
    font-family: "MuseoSans", Arial, sans-serif;
}


/* phone */

.home-section-apps {
    /* width: 1080px; */
    height: auto;
    background-color: #D70F64;
    margin-top: 50px;
    margin-bottom: 100px;
}

.home-section-apps-image img {
    width: 100%;
    z-index: 1;
    margin: -100px 24px 0px;
    background-position: center;
    z-index: 1;
}

.home-section-apps-content {
    padding: 24px;
    color: #fff;
}

.apps-stores {
    display: flex;
    padding-top: 10px;
}

.home-section-apps .home-section-apps-content * {
    margin: 0;
}

.home-section-apps .home-section-apps-content .apps-stores a {
    width: 100%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    max-height: 48px;
    border: solid 1px #fff;
    padding: 7px 9px 7px 9px;
    background: transparent;
    margin: 10px;
}

.section-headline full-container {
    margin: 50px;
}


/* vender資訊 */

.pic_company img {
    margin-top: 100px;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.full-container {
    padding: 0px 24px;
    z-index: 2;
    margin-top: -100px;
    display: inline-block;
}

.vender-content {
    width: auto;
    padding: 16px;
    box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.12);
    background-color: white;
    z-index: 2;
}

#vender-button {
    display: inline-block;
    background-color: #D70F64;
    color: #fff;
    font-size: 14px;
    width: 100%;
    height: 48px;
    font-weight: bold;
    text-align: center;
    line-height: 48px;
}


/*RWD_電腦*/

@media screen and(min-width: 480px) {
    .wrap {
        display: flex;
        flex-wrap: wrap
    }
    .city-group {
        display: flex;
        flex-wrap: wrap;
        overflow: hidden;
    }
    .home-section-apps .home-section-apps-image {
        width: calc(100% - 48px);
        height: 348px;
        margin-left: 24px;
    }
}

@media (min-width: 960px) {
    .wrap {
        padding-bottom: 80px;
    }
    .city-group {
        display: flex;
        flex-wrap: wrap;
        overflow: hidden;
    }
}