* {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav a {
    text-decoration: none;
    color: #D70F64;
}

.address_section {
    background-image: url(https://images.deliveryhero.io/image/foodpanda/hero-home-tw.jpg?width=800&height=512);
    background-position: 70vw;
    background-repeat: no-repeat;
    background-size: 400px;
}

.address_section__slogan h1 {
    font-size: 1.6em;
    font-weight: 500;
}

.button {
    background-color: #D70F64;
    color: white;
    border-radius: 0%;
    height: 64px;
    font-weight: 600;
    border: none;
    line-height: 48px;
}

.search__input input {
    border-radius: 0%;
    height: 64px;
    box-shadow: none;
    border: 1px solid #dcdcdc;
    box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.12);
}

.join_section {
    background-image: url(https://images.deliveryhero.io/image/foodpanda/home-vendor-tw.jpg?width=800&height=512);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: top center;
}

.join_section__intro {
    box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.12);
    margin-top: 180px;
    border-radius: 0;
    border: none;
}


/* join-section */

.full-container {
    /* padding: 0px 24px; */
    z-index: 2;
    margin-top: -100px;
    display: inline-block;
}

.vender-content {
    box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.12);
    background-color: white;
    z-index: 2;
    margin-top: 100px;
}

#vender-button {
    display: inline-block;
    background-color: #D70F64;
    color: #fff;
    font-size: 14px;
    width: 100%;
    height: 48px;
    font-weight: bold;
    text-align: center;
    line-height: 48px;
}


/* city-section */

.city img {
    width: 216px;
    height: 276px;
    overflow: hidden;
    object-fit: cover;
}

.city {
    margin: 0px 10px 20px;
    position: relative;
}

.city-group {
    /* margin: 100px 10px 150px 48px; */
    overflow: auto;
    display: flex;
    justify-content: center;
}

.city-name {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 10px;
    font-size: 20px;
    color: #fff;
    z-index: 1;
    font-family: "MuseoSans", Arial, sans-serif;
}


/* phone */

.home-section-apps {
    /* width: 1080px; */
    height: auto;
    background-color: #D70F64;
    margin-top: 50px;
    margin-bottom: 100px;
}

.home-section-apps-image img {
    width: 100%;
    margin: -50px 0px 0px;
    background-position: top center;
    z-index: 1;
    padding: 0px 100px;
}

.home-section-apps-content {
    padding: 0px 24px 16px;
    color: #fff;
}

.apps-stores {
    display: flex;
    padding-top: 10px;
}

.home-section-apps .home-section-apps-content * {
    margin: 0;
}

.home-section-apps .home-section-apps-content .apps-stores a {
    width: 100%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    max-height: 48px;
    border: solid 1px #fff;
    padding: 7px 9px 7px 9px;
    background: transparent;
    margin: 10px;
}

.section-headline full-container {
    margin: 50px;
}

.vender_section {
    background-image: url(https://images.deliveryhero.io/image/foodpanda/home-corporate-tw.jpg?width=600&height=384);
    background-repeat: no-repeat;
    background-size: covor;
    background-position: top center;
    height: 280px;
}


/*RWD_¹q¸£*/

@media screen and(min-width: 480px) {
    .wrap {
        display: flex;
        flex-wrap: wrap
    }
    .city-group {
        display: flex;
        flex-wrap: wrap;
        overflow: hidden;
    }
    .home-section-apps .home-section-apps-image {
        width: calc(100% - 48px);
        height: 348px;
        margin-left: 24px;
    }
}

@media (min-width: 960px) {
    .wrap {
        padding-bottom: 80px;
    }
    .city-group {
        display: flex;
        flex-wrap: wrap;
        overflow: hidden;
    }
}